@model IList<int>

<h2>Enviar Imagens</h2>

<hr>

<form action="/Imagens/UploadImagem" enctype="multipart/form-data" method="post" class="form-group">
    <input type="file" name="arquivos" class="form-control" />
    <br />
    <button>Enviar Imagem</button>
</form>
<br />
@foreach (var item in Model)
{
    <img src="/Imagens/VerImagem/@item" />
}
