@model IList<int>

<h2>Enviar Imagens</h2>

<hr>

<div class="container" id="box">
 <form action="/Imagens/UploadImagem" enctype="multipart/form-data" method="post" class="form-group">
    <input type="file" name="arquivos" class="form-control" />
    <br />
    <button class="success form-control" type="submit">Enviar Imagem</button>
 </form>
    </div>
<br />
@foreach (var item in Model)
{
    <img id="img" class="img-responsive rounded"  src="/Imagens/VerImagem/@item" />
}
